p, li {
  line-height: 1.5;
}

a {
  color: $secondary;
  text-decoration: none;
  border-bottom: 3px solid $secondary;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: $primary;
    border-color: $primary;
  }
}
