@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('../node_modules/tippy.js/dist/tippy.css');

$primary: #364F6B;
$secondary: #FC5185;
$background: #F5F5F5;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  background-color: $background;
  color: $primary;
  font-size: 18px;
}

section {
  display: table;
  width: 100%;
  height: 100vh;
  position: relative;

  .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

@import 'content';
@import 'logo';
@import 'social-icons';
@import 'bell';
@import 'scrollers';
