<section id="about">
  <div class="container">
    <div class="content">
      <h1>Hello!</h1>
      <p>I'm Nik Sudan - a creator of things based in London.</p>
      <p>I like to make short, fun, and weird games in a pixelated style.</p>
      <p>By day, I work for a web agency called <a class="has-tooltip" title="We make stuff!" target="_blank" href="https://www.digital-results.com">Digital Results</a>.</p>
      <p>I write a lot of music too, dabbling in all sorts of instruments and styles.</p>
      <p>There's bound to be something here that you'd like!</p>
      <p><a class="has-tooltip" title="There's a lot!" href="/works">See all of my works</a>, or <a class="has-tooltip" title="Don't spam 😢" href="mailto:nik@niks.space">get in touch</a>.</p>
    </div>
  </div>
  <a class="scroller is-bottom" href="#intro">
    <%- include('../icons/chevron-up') %>
  </a>
</section>
