<%- include('parts/header', {title: 'Nik\'s Works'}) %>
  <section id="stuff">
    <div class="container">
      <a href="/" class="small-logo">
        <%- include('icons/logo') %>
      </a>
      <br />
      <div class="content">
        <%- stuff %>
      </div>
    </div>
  </section>
<%- include('parts/footer') %>
