.infobox-large {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform-origin: top right;
  overflow-y: scroll;
}

.infobox-large__wrapper {
  display: flex;
  align-items: center;
  padding: 4rem;
  margin: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  min-height: calc(100% - 4rem);
  max-height: auto;
}

@media (max-width: 550px) {
  .infobox-large__wrapper {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
  }
}

.infobox-large__wrapper >div {
  width: 100%;
}

.infobox-large__avatar {
  display: inline-block;
  float: right;
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

@media (max-width: 768px) {
  .infobox-large__avatar {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 550px) {
  .infobox-large__avatar {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

.infobox-large__avatar img {
  width: 100%;
}

.infobox-large__heading, .infobox-large__content {
  margin-bottom: 1rem;
}

.infobox-large__content {
  display: flex;
  flex-wrap: wrap;
}

.infobox-large__content >div {
  width: calc(100% / 3);
}

@media (max-width: 900px) {
  .infobox-large__content >div {
    width: calc(100% / 2);
  }
}

.infobox-large__content >div * {
  margin-bottom: 0.5rem;
}

.infobox-large__content >div ul {
  margin-bottom: 1rem;
}
