.infobox-large__avatar {
  display: inline-block;
  float: right;
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

@media (max-width: 768px) {
  .infobox-large__avatar {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 550px) {
  .infobox-large__avatar {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

.infobox-large__avatar img {
  width: 100%;
}

.infobox-large__heading {
  width: 50%;
}

.infobox-large__heading,
.infobox-large__content,
.infobox-large__heading h1,
.infobox-large__heading p {
  margin-bottom: 1rem;
}

.infobox-large__content {
  display: flex;
  flex-wrap: wrap;
}

.infobox-large__content >div {
  width: calc(100% / 3);
}

@media (max-width: 900px) {
  .infobox-large__content >div {
    width: calc(100% / 2);
  }

  .infobox-large__heading {
    width: 100%;
  }
}

.infobox-large__content >div * {
  margin-bottom: 0.5rem;
}

.infobox-large__content >div ul {
  margin-bottom: 1rem;
}
