.infobox-small {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.infobox-small__avatar, .infobox-small__heading {
  display: inline-block;
}

.infobox-small__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}

.infobox-small__avatar img {
  width: 100%;
}

.infobox-small__heading {
  margin-right: 1rem;
  text-align: right;
}

.infobox-small__heading p {
  font-size: 0.9rem;
}
