.infobox-small, .infobox-large {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.infobox-small {
  padding: 0.5rem;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.infobox-small__avatar, .infobox-small__heading {
  display: inline-block;
}

.infobox-small__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}

.infobox-small__avatar img {
  width: 100%;
}

.infobox-small__heading {
  margin-right: 1rem;
  text-align: right;
}

.infobox-small__heading p {
  font-size: 0.9rem;
}

.infobox-large {
  left: 0;
  bottom: 0;
  padding: 4rem;
  margin: 2rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.infobox-large >div {
  width: 100%;
}

.infobox-large__avatar {
  display: inline-block;
  float: right;
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.infobox-large__avatar img {
  width: 100%;
}

.infobox-large__heading, .infobox-large__content {
  margin-bottom: 1rem;
}

.infobox-large__heading h1 {
  font-size: 48px;
}

.infobox-large__content {
  display: flex;
  flex-wrap: wrap;
}

.infobox-large__content >div {
  width: 30%;
}

.infobox-large__content >div * {
  margin-bottom: 0.5rem;
}

.infobox-large__content >div ul {
  margin-bottom: 1rem;
}
