.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform-origin: center center;
  overflow-y: scroll;
}

.modal__wrapper {
  display: flex;
  align-items: center;
  padding: 4rem;
  margin: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  width: calc(100vw - 4rem);
  min-height: calc(100vh - 4rem);
}

.modal__wrapper >div {
  width: 100%;
}

.modal h1 {
  line-height: 1;
}

@media (max-width: 550px) {
  .modal__wrapper {
    text-align: center;
    padding: 1rem;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
  }
}
