.panel {
  width: calc(100vw / 3);
  height: calc(100vh / 3);
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.panel >* {
  width: 100%;
  height: 100%;
}

.panel__image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  filter: saturate(100%);
  transition: 0.3s all ease-in-out;
  z-index: 0;
  transform: scale(1.2, 1.2);
}

.panel:hover .panel__image {
  opacity: 0.2;
  filter: saturate(0%);
  transform: scale(1.3, 1.3);
  z-index: 1;
}

@media (max-width: 1280px) {
  .panel {
    width: calc(100vw / 2);
  }
}

@media (max-width: 768px) {
  .panel {
    width: 100%;
    display: block;
  }
  .panel .panel__image {
    opacity: 0.4;
  }
}

.panel__content {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.panel__content >* {
  width: 100%;
}

.panel__content h2 {
  line-height: 1;
}

.panel__tags {
  margin-top: 10px;
  opacity: 0;
  transition: 0.2s all;
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: auto;
  height: auto;
}

.panel:hover .panel__tags {
  opacity: 0.8;
  bottom: 10px;
}
