.project {
  margin-bottom: 2rem;
}

.project h1 {
  margin-bottom: 1rem;
}

.project p {
  margin-bottom: 1rem;
}

.project img, .project__team {
  width: 50%;
  float: right;
  margin-left: 1rem;
}

.project__team {
  text-align: right;
}

@media (max-width: 1280px) {
  .project img, .project__team {
    width: 40%;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .project img, .project__team {
    float: none;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
    text-align: left;
  }
}

@media (max-width: 550px) {
  .project__team {
    text-align: center;
  }
}