.project {
  margin-bottom: 2rem;
}

.project h1 {
  margin-bottom: 1rem;
}

.project p {
  margin-bottom: 1rem;
}

.project img {
  width: 50vw;
  float: right;
  margin-left: 1rem;
}

.project__tag {
  border: 1px solid #EEEEEE;
  padding: 4px 8px;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 300;
}

.project__tag + .project__tag {
  margin-left: 5px;
}

.project__tag.tag--cancelled {
  border-color: #ff6666;
  color: #ff6666;
}

@media (max-width: 1280px) {
  .project img {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .project img {
    float: none;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
  }
}
