<!DOCTYPE html>
<html>
<head>
  <base target="_blank">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Games, Music and Other Things | Nik Sudan's Portfolio</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="description" content="Things and stuff by Nik Sudan, a developer, musician and moocher.">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="google-site-verification" content="C0zQpmcly7C8iQ_XfQvG0usgwQaO9SyWyeF57HT3ZB4">
  <meta name="google-site-verification" content="rp5SfbiVcZFDD7Ga-A4fbC7v9i26ZUbq8eJoddvS4nw">
  <meta property="og:title" content="Nik Sudan's Portfolio">
  <meta property="og:description" content="Things and stuff by Nik Sudan, a developer, musician and moocher.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="niks.space">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:site" content="@niksudan">
  <meta property="twitter:title" content="Nik Sudan's Portfolio">
  <meta property="twitter:description" content="Things and stuff by Nik Sudan, a developer, musician and moocher.">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49827383-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <span class="bell">
    <a class="has-tooltip" data-position="right" title="Subscribe to my updates?" href="https://upscri.be/81a958/" target="_blank">
      <%- include('../icons/bell') %>
    </a>
  </span>
