<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <base target="_blank">
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <span class="bell">
    <a class="has-tooltip" data-position="right" title="Subscribe to Updates" href="https://upscri.be/81a958/" target="_blank">
      <%- include('../icons/bell') %>
    </a>
  </span>
