.sidebar {
	margin-top: 1em;
	text-align: center;
}

.sidebar h2 {
	margin-top: 0;
}

.content {
	margin-top: 1em;
}

.thumb .panel,
.thumb .jumbotron {
	padding: 0;
	border-radius: 4px;
	box-shadow: none;
	border: 0;
	overflow: hidden;
	margin-bottom: 2em;
}

.thumb .panel-body {
	padding: 0;
}

.thumb .thumb-content {
	position: relative;
}

.thumb .thumb-inner-content {
	position: absolute;
	padding: 10px;
	bottom: 0;
	left: 0;
}

.jumbotron .thumb-inner-content {
	padding: 20px;
}

.thumb .thumb-inner-content * {
	margin: 0;
}