@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5em);
  }

  20% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: 0.5s fadeInUp ease-out;
}

a {
  transition: 0.2s all ease-in-out;

  .fa-chevron-down {
    position: relative;
    top: 0;
    opacity: 0.5;
    transition: 0.2s top ease-out, 0.2s opacity ease-out;
  }

  &:hover .fa-chevron-down {
    top: -5px;
    opacity: 1;
  }
}

.card {
  transition: 0.2s all ease-in-out;
  top: 0;

  img {
    width: 100%;
  }
}

a:hover .card {
  top: -1em;
  box-shadow: 0 1em 1em rgba(black, 0.5);
}
