.card {
  .title {
    transition: 0.2s color;
    background: -webkit-linear-gradient(
      top left,
      darken(saturate(adjust-hue($primary, -10deg), 10%), 10%),
      lighten(saturate(adjust-hue($primary, 10deg), 5%), 5%)
    );
    -webkit-background-clip: text;
  }

  .card-header {
    background-color: rgba($primary, 0.5);

    .image {
      transition: 0.2s opacity ease-in-out;
    }
  }

  &:hover {
    z-index: 100;

    .image {
      opacity: 0.8;
    }

    .title {
      color: rgba($primary, 0);
      background-position: 200% center;
    }
  }
}
