h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}

p, li {
  line-height: 1.5;
}

a {
  color: $primary;
  text-decoration: none;
  border-bottom: 2px solid $primary;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: $secondary;
    border-color: $secondary;
  }
}

.content {
  text-align: left;
  max-width: 800px;
  display: inline-block;
  margin: auto;

  @media (max-width: 768px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
