h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  
  a {
    border-width: 3px;
  }
}

h3 {
  font-size: 2rem;
}

p, li {
  line-height: 2;
  
  @media (max-width: 768px) {
    line-height: 1.5;
  }
}

a {
  color: $primary;
  text-decoration: none;
  border-bottom: 2px solid $primary;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: $secondary;
    border-color: $secondary;
  }
}

.content {
  text-align: left;
  max-width: 800px;
  display: inline-block;
  margin: auto;

  @media (max-width: 768px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

code {
  font-size: 0.8rem;
  font-family: inherit;
  padding: 0.5rem 0.75rem;
  background-color: $secondary;
  color: $background;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: 300;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}