#logo {
  width: 100%;
  max-width: 512px;
  margin-bottom: 2rem;
  padding: 1rem;

  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
  }
  
  path {
    fill: rgba(0, 0, 0, 0);
    stroke: $primary;
    stroke-width: 10px;
    stroke-linecap: round;
  }

  &.is-finished {
    path {
      transition: 0.4s all ease-out;
      fill: $secondary;
    }
  }
}
