.timeline {
  ul {
    list-style: none;
    padding: 0;
  }

  > ul {
    padding: 0;
    list-style: none;
    margin-left: 50px;

    > li {
      padding-left: 50px;
      min-height: 100px;
      position: relative;
      border-left: 4px solid $primary;

      > :first-child {
        float: left;
        background-color: $secondary;
        color: $background;
        border: 4px solid $primary;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        position: absolute;
        left: -52px;
        line-height: 1.5;
        text-align: center;
        justify-content: center;
        font-weight: 300;

        &::after {
          display: block;
          content: "";
          clear: both;
        }
      }

      > ul {
        padding-top: 100px;
        margin-left: 1rem;
        
        > li ul {
          margin-left: 4.5rem;
          margin-top: 1rem;

          li {
            position: relative;
            padding-bottom: 1rem;

            svg {
              position: absolute;
              top: 1.5rem;
              left: -3.5rem;
              transform: scale(2);
            }
  
            h3 {
              margin-bottom: 0.5rem;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}
