@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

$family-sans-serif: 'Poppins', sans-serif;
$primary: #fc5185;
$link: $primary;
$control-border-width: 2px;
$box-padding: 2em;

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bulma';
@import '~react-tippy/dist/tippy.css';

@import 'animations';

* {
  box-sizing: border-box;
}

a {
  transition: 0.2s all ease-in-out;
}

.button {
  font-weight: bold;
}

.tippy-tooltip {
  font-weight: bold;
}

@import 'box';
@import 'logo';
