@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('../../node_modules/tippy.js/dist/tippy.css');

@font-face {
  font-family: 'Morning Comic Sans';
  src: url('./MorningComicSans.woff2') format('woff2'),
      url('./MorningComicSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$primary: #364F6B;
$secondary: #FC5185;
$background: #F5F5F5;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: $background;
  color: $primary;
  font-size: 18px;
}

section {
  display: table;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  margin: auto;
  max-width: 1080px;
  position: relative;

  .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

@import 'content';
@import 'logo';
@import 'social-icons';
@import 'bell';
@import 'scrollers';
@import 'timeline';
