@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

$family-sans-serif: 'Poppins', sans-serif;
$primary: #fc5185;
$link: $primary;
$control-border-width: 2px;
$box-padding: 2em;

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bulma';
@import '~react-tippy/dist/tippy.css';

@import 'card';
@import 'logo';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.button {
  font-weight: bold;
}

.tippy-tooltip {
  font-weight: bold;
}

.box,
.card {
  border-bottom: 1em solid $primary;

  @media screen and (min-width: $tablet) {
    height: 100%;
  }
}
